.notebook-box {
  border: 5px solid black;
}

.each-notebook {
    display: flex;
      justify-content: center;
      border-bottom: 3px solid black;
    padding-bottom: 30px;
      padding-top: 20px;
  font-size: 30px;
}

.notebooks-title {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.notebook-divider {
  border-bottom: 10px solid black;
}
