.add-notebook-text {
  font-size: 30px;
  margin-bottom: 20px;
}

.post-button {
  margin-bottom: 10px;
}

.error-message {
  margin-top: 28px;
  margin-bottom: 30px;
  color: red;
  font-weight: bold;
}
